/*body{ */
    /*height:100vh; [> background full size <]*/
    /*background: url('/images/main.jpg') center center / cover no-repeat fixed;    */
/*}*/
html{
    overflow: hidden;
}
body{
    height:100vh;
    /*background: url('/my_home_page_source/background/b2.jpg') no-repeat fixed;*/
    background: #3a0839;
    background-size: cover;
}        

header {
}
header .mainTitle{
    background-color: rgba(255,255,255,0.3);
    color:black;
    position:absolute;
    height:20vh;
    width:100%;
    margin:-20vh 0px 0px 0px;
    top: 25%;
    padding-top: 15vh;
    text-align:center;
    font-size: 50px;
    font-family: cursive;
}

footer{
    border-top:1px solid gray;
    padding-top:10px;
    text-align:center;
}
